@media screen and  (min-width: 560px){
    body{      
        max-width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; 
        padding: 0px;
        margin: 0px;
        border: 0px;
        font-size: large;       
    
    }

    .news{

        min-width: 100%;
        height: 70px;
        background-color:black;
        position: fixed;
        top: 35px;
        margin-bottom: 50px;
        color: white;
        z-index:1;
        right: 0px;
    }    
   
        

    nav {
        min-width: 100%;
        height: 70px;
        background-color:black;
        border-top: 1px solid rgba(255,255,255, .2);
        border-bottom: 1px solid rgba(255,255,255, .2);
        position: fixed;
        top: 0;
        margin-bottom: 20px;     
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        z-index: 1;
       }
      nav ul {
        width: 100%;
        height: 50px;
        background: rgba(0,0,0, .8);
        display: flex;
        margin: 0px;
        padding: 0 100px;
        justify-content: flex-end;
        margin-left: 250px;
      }
      
      nav ul li {
        list-style: none;
      }
      
      nav ul li a {
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 50px; 
      }
      
      nav ul li a:hover,
      nav ul li a.active {
        background: #f00;
        
      }  

     nav img{
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;

    }
    .various_news{
        position: fixed;
        width: 40%;
        min-height: 400px;
        margin-bottom: 200px;
        margin-right:20px;
        top: 27%;
        right: 48%;
    }            
    

    .various_new{
        visibility: hidden;
        width: 450px;
        min-height: 400px;
        margin-bottom: 30px;
        margin-right:100px;
        border-radius: 35px;
        border: 3px solid rgb(252, 232, 151);   
        
    }

    .various_news a{
        padding: 10px;        
        max-height: 100%;
        color: white;        
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
       
       
    }
    .container{
        max-width:700px;
        position: relative;
        right: -20%;
        display: flex;
        flex-direction: row;             
        margin-top: 200px;
        
    }
    .articles{
         width: 100%; 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 100px;
        padding-right: 10px;
      
    }
    header img{
        width: 100%;
        height: 300px;
        padding: 0px;
        margin-bottom: 10px;
    }
        
    
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 30px;
        padding-left: 10px;
         margin-bottom: 20px;
    }
    .authors{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 100px;
    }
    .author{
        margin-right: 50px;
    }
}



