
    body{
        max-width: 500px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;        
        padding: 0px;
        margin: 0px;
        border: 0px;
        }
    nav {
        max-width:300px;
        height: 30px;
        background: rgba(0,0,0, .8);
        top: 0;
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
      }
      
      nav ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0 px;
        justify-content: flex-start;
        max-width:250px;
        padding-left: 5px;
      }
      
      nav ul li {
        list-style: none;
      }
      
      nav ul li a {
        display: block;
        color: #fff;
        padding: 0 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 50px; 
        font-size: 10px;
        padding-left: 15px;
      }
      
      nav ul li a:hover,
      nav ul li a.active {
        background: #f00;
        
      } 
   
    nav img{
        width: 70px;
        height: 50px;
        margin-bottom: 10px;
    }
    .news{
        font-weight: bolder;
        color: white;
        font-family: 'serif';
        text-align: center;
               
    }
    main{
        display: flex;       
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column; 
        width: 100%;
        

    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;

    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 0px;

    }
    .various_news{
        width: 100%;
       max-height: 200px;
        margin-bottom: 30px;
        padding-left: 20px;
        
        display: flex;
        flex-direction: column;
       justify-content: space-evenly;       
    }
    .various_news a{
        padding: 10px;        
        max-height: 100%;
        color: white;        
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
       
    }
    .various_news a:hover{
        text-decoration: underline;
        color: #f00;
    }
    .various_new{
        visibility: hidden;
    }
    .articles{
        width: 100%;
        display: flex;
        flex-direction: column;
         align-items: center;         
        justify-content: center;
         
    }
    header{
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: center;
    }
    header img{
        width: 100%;
        height: 300px;
        padding: 0px;
        margin-bottom: 0px;
    }
    .like{
        color: white;
        margin-top: 30px;
        margin-left: 70px;
         }

    .description{
       display:flex;      
        flex-direction: row;           
        align-items: flex-end;
        margin-left: -14px;
        padding-left: 10px;
        margin-right: 30px;
    }
    .description a{
        color: white;
        font-size: 16px;
        margin-top: 20px;
        }
    .description h1 {
        margin-top: 5px;        
    }
    .description h1 a{
        color: rgb(235, 15, 15);
        text-decoration: none;
        margin-top: 50px;     

    }
    .description h1 a:hover{
        text-decoration: underline;
    }

    footer{
        display: flex;       
        flex-direction: row; 
        justify-content: space-evenly;
        color: white;
    }
  
    .authors{
        width: 100%;
        max-height: 300px;      
        border-radius: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-left: 5px;
      
    }
    h3{
        color: white;        
        font-weight: bold;
        padding-left: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .about_author{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        
    }
    .about_author a{     
        color: wheat;
        padding-left: 20px;
        text-decoration: none;
    }
    .about_author a:hover
     {
       text-decoration: underline;
     }
    .terms{
        width: 100%;
        display: flex;       
        flex-direction: row; 
        justify-content:space-evenly; 
              

    }
    .terms a{
      color: white;
      padding-bottom: 10px;
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      padding-left: 5px;
    }
    
    .terms a:hover
    {
    text-decoration: underline;
    }
