/**{
    box-sizing: border-box;
}*/
body{
    display: flex;
   /* height;*/
    justify-content: center;
    /*align-content: center;*/
    flex-direction: column;
   
}

h1{
    font-weight: bold;
    color: darkblue;
    font-family: fantasy;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
   /* flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    /*width: 90%px;
    
    height: 100%;
    padding: 50px;
    margin: 100px;*/
}
.article header{
    /*margin-top: -15px;
    margin-bottom: -10px;
   
    flex-direction: column;
    margin-left: 10px;*/
     display: flex;
     justify-content: center;
    align-content: center;
}

section{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-content: center;
   /*align-content: space-around; 
   
   flex-wrap: wrap;
    margin-top: -300px;*/
}
section a{
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: darkblue;
    display: flex;
    
   }
   header img{
     width: 500px;
     height: 300px;

   /* direction: row;
    flex-wrap: wrap;
    height:600px ;
    width:800px;
    background-color: cornsilk;
    margin-left: 20px;
    margin-bottom: 20px;
   box-shadow: 5px 10px 18px #888888;
     

}*/

/*
@media screen and ( max-width :500px ){
    body{
    ;
    
    }
    }
 @media screen and ( max-width :1000px ){
        body{
        ;
        
        }
        }
    
 @media screen and ( min-width : 1024px){
        body{
        ;
        }
    }



}
.article{
    display: flex;*/
   /* direction: row;
    flex-wrap: wrap;
    height:600px ;
    width:800px;
    background-color: cornsilk;
    margin-left: 20px;
    margin-bottom: 20px;
   box-shadow: 5px 10px 18px #888888;
     

}
.article header{
    margin-top: -15px;
    margin-bottom: -10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}
 .article footer{
    display: flex; 
    justify-content: space-between;*/
    /*margin-left: 10px;
    margin-bottom: 300px;
    
}

.article p{
    display: flex;
    flex-direction: row;
    color: darkblue;
    margin-left: 20px;

}
.
   .article a:hover{
      text-decoration: underline;
  }


}*/
